

<input (input)="onChangeInput($event)" type="text" name="" value=""><br>

<input [(ngModel)]="inputTextValue" type="text" name="" value=""><br>
<p>{{inputTextValue}}</p>

<button (click)="buttonClick()" [disabled]="!disableButton" type="button" name="button" class="btn btn-primary">Click Me </button>
<p [innerText]="disableButton"></p>

<p *ngIf="showParagraph; else notClicked">{{buttonClickEvent}}</p>

<ng-template #notClicked>
  <p>{{buttonClickEvent}}</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
